@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}

.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}
